--light--text--heavy: rgba(34, 34, 34, 1);
--light--text--medium: rgba(34, 34, 34, 0.6000000238418579);
--light--text--light: rgba(34, 34, 34, 0.4000000059604645);
--light--text--reverse-heavy: rgba(247, 247, 247, 1);
--light--text--reverse-medium: rgba(247, 247, 247, 0.6000000238418579);
--light--text--reverse-light: rgba(247, 247, 247, 0.4000000059604645);
--light--text--white-heavy: rgba(247, 247, 247, 1);
--light--text--white-medium: rgba(255, 255, 255, 0.6000000238418579);
--light--text--white-light: rgba(247, 247, 247, 0.4000000059604645);
--light--text--success: rgba(77, 188, 93, 1);
--light--text--warning: rgba(255, 155, 83, 1);
--light--text--error: rgba(250, 99, 93, 1);
--light--icon--heavy: rgba(34, 34, 34, 1);
--light--icon--medium: rgba(34, 34, 34, 0.6000000238418579);
--light--icon--light: rgba(34, 34, 34, 0.4000000059604645);
--light--icon--reverse-heavy: rgba(247, 247, 247, 1);
--light--icon--reverse-medium: rgba(247, 247, 247, 0.6000000238418579);
--light--icon--reverse-light: rgba(247, 247, 247, 0.4000000059604645);
--light--icon--white-heavy: rgba(247, 247, 247, 1);
--light--icon--white-medium: rgba(247, 247, 247, 0.6000000238418579);
--light--icon--white-light: rgba(247, 247, 247, 0.4000000059604645);
--light--icon--success: rgba(77, 188, 93, 1);
--light--icon--warning: rgba(255, 155, 83, 1);
--light--icon--error: rgba(250, 99, 93, 1);
--light--border--heavy: rgba(34, 34, 34, 1);
--light--border--medium: rgba(34, 34, 34, 0.30000001192092896);
--light--border--light: rgba(34, 34, 34, 0.10000000149011612);
--light--border--reverse-heavy: rgba(247, 247, 247, 1);
--light--border--reverse-medium: rgba(247, 247, 247, 0.6000000238418579);
--light--border--reverse-light: rgba(247, 247, 247, 0.30000001192092896);
--light--border--success: rgba(77, 188, 93, 1);
--light--border--warning: rgba(255, 155, 83, 1);
--light--border--error: rgba(250, 99, 93, 1);
--light--background--level-0: rgba(255, 255, 255, 1);
--light--background--level-1: rgba(255, 255, 255, 1);
--light--background--level-2: rgba(255, 255, 255, 1);
--light--background--level-3: rgba(255, 255, 255, 1);
--light--fill--01: rgba(255, 255, 255, 1);
--light--fill--02: rgba(235, 235, 235, 1);
--light--fill--03: rgba(176, 176, 176, 1);
--light--fill--04: rgba(15, 15, 15, 1);
--light--fill--success: rgba(77, 188, 93, 1);
--light--fill--warning: rgba(255, 155, 83, 1);
--light--fill--error: rgba(250, 99, 93, 1);
--light--fill--green: rgba(217, 232, 229, 1);
--light--fill--white: rgba(255, 255, 255, 1);
--light--state--overlay: rgba(255, 255, 255, 0.800000011920929);
--light--state--highlight: rgba(34, 34, 34, 0.019999999552965164);
--light--state--hover: rgba(34, 34, 34, 0.03999999910593033);
--light--state--active: rgba(18, 135, 75, 0.11999999731779099);
--light--alert--error: rgba(250, 99, 93, 0.20000000298023224);
--light--alert--success: rgba(77, 188, 93, 0.20000000298023224);
--light--alert--warning: rgba(255, 155, 83, 0.20000000298023224);
--light--button--monochrome-default: rgba(34, 34, 34, 1);
--light--button--monochrome-hover: rgba(0, 0, 0, 1);
--light--button--monochrome-disabled: rgba(34, 34, 34, 0.4000000059604645);
--light--button--destructive-default: rgba(250, 99, 93, 1);
--light--button--destructive-hover: rgba(250, 99, 93, 1);
--light--button--destructive-disabled: rgba(250, 99, 93, 0.4000000059604645);

/* --dark--text--heavy: rgba(247, 247, 247, 1);
--dark--text--medium: rgba(247, 247, 247, 0.6399999856948853);
--dark--text--light: rgba(247, 247, 247, 0.4000000059604645);
--dark--text--reverse-heavy: rgba(34, 34, 34, 1);
--dark--text--reverse-medium: rgba(34, 34, 34, 0.6000000238418579);
--dark--text--reverse-light: rgba(34, 34, 34, 0.4000000059604645);
--dark--text--white-heavy: rgba(247, 247, 247, 1);
--dark--text--white-medium: rgba(255, 255, 255, 0.6000000238418579);
--dark--text--white-light: rgba(247, 247, 247, 0.4000000059604645);
--dark--text--success: rgba(77, 188, 93, 1);
--dark--text--warning: rgba(255, 155, 83, 1);
--dark--text--error: rgba(250, 99, 93, 1); */

/* --dark--icon--heavy: rgba(247, 247, 247, 1);
--dark--icon--medium: rgba(247, 247, 247, 0.6399999856948853);
--dark--icon--light: rgba(247, 247, 247, 0.4000000059604645);
--dark--icon--reverse-heavy: rgba(34, 34, 34, 1);
--dark--icon--reverse-medium: rgba(34, 34, 34, 0.6000000238418579);
--dark--icon--reverse-light: rgba(34, 34, 34, 0.4000000059604645);
--dark--icon--white-heavy: rgba(247, 247, 247, 1);
--dark--icon--white-medium: rgba(247, 247, 247, 0.6000000238418579);
--dark--icon--white-light: rgba(247, 247, 247, 0.4000000059604645);
--dark--icon--success: rgba(77, 188, 93, 1);
--dark--icon--warning: rgba(255, 155, 83, 1);
--dark--icon--error: rgba(250, 99, 93, 1); */
/* --dark--border--heavy: rgba(247, 247, 247, 1);
--dark--border--medium: rgba(247, 247, 247, 0.3199999928474426);
--dark--border--light: rgba(247, 247, 247, 0.1599999964237213);
--dark--border--reverse-heavy: rgba(34, 34, 34, 1);
--dark--border--reverse-medium: rgba(34, 34, 34, 0.30000001192092896);
--dark--border--reverse-light: rgba(34, 34, 34, 0.10000000149011612);
--dark--border--success: rgba(77, 188, 93, 1);
--dark--border--warning: rgba(255, 155, 83, 1);
--dark--border--error: rgba(250, 99, 93, 1); */
--dark--background--level-0: rgba(15, 15, 15, 1);
--dark--background--level-1: rgba(20, 20, 20, 1);
--dark--background--level-2: rgba(24, 24, 24, 1);
--dark--background--level-3: rgba(31, 31, 31, 1);
--dark--fill--01: rgba(15, 15, 15, 1);
--dark--fill--02: rgba(113, 113, 113, 1);
--dark--fill--03: rgba(221, 221, 221, 1);
--dark--fill--04: rgba(255, 255, 255, 1);
--dark--fill--success: rgba(77, 188, 93, 1);
--dark--fill--warning: rgba(255, 155, 83, 1);
--dark--fill--error: rgba(250, 99, 93, 1);
--dark--fill--green: rgba(20, 61, 60, 1);
--dark--fill--white: rgba(255, 255, 255, 1);
--dark--state--overlay: rgba(0, 0, 0, 0.699999988079071);
--dark--state--highlight: rgba(255, 255, 255, 0.019999999552965164);
--dark--state--hover: rgba(255, 255, 255, 0.03999999910593033);
--dark--state--active: rgba(18, 135, 75, 0.1599999964237213);
--dark--alert--error: rgba(250, 99, 93, 0.11999999731779099);
--dark--alert--success: rgba(77, 188, 93, 0.11999999731779099);
--dark--alert--warning: rgba(255, 155, 83, 0.11999999731779099);
--dark--button--monochrome-default: rgba(255, 255, 255, 1);
--dark--button--monochrome-hover: rgba(247, 247, 247, 1);
--dark--button--monochrome-disabled: rgba(255, 255, 255, 0.4000000059604645);
--dark--button--destructive-default: rgba(250, 99, 93, 1);
--dark--button--destructive-hover: rgba(250, 99, 93, 1);
--dark--button--destructive-disabled: rgba(250, 99, 93, 0.4000000059604645);
--brand--green--green: rgba(77, 188, 93, 1);
--brand--green--grey: rgba(217, 232, 229, 1);
--brand--green--lightest: rgba(219, 242, 223, 1);
--brand--green--light: rgba(165, 228, 174, 1);
--brand--green--dark: rgba(18, 135, 75, 1);
--brand--green--darkest: rgba(14, 88, 50, 1);
--brand--blue--blue: rgba(8, 170, 191, 1);
--brand--blue--grey: rgba(112, 140, 164, 1);
--brand--blue--light: rgba(130, 224, 237, 1);
--brand--blue--lightest: rgba(171, 241, 250, 1);
--brand--blue--dark: rgba(23, 125, 138, 1);
--brand--blue--darkest: rgba(22, 95, 105, 1);
--brand--teal--grey: rgba(145, 180, 176, 1);
--brand--teal--teal: rgba(0, 166, 148, 1);
--brand--teal--light: rgba(81, 215, 200, 1);
--brand--teal--lightest: rgba(178, 246, 239, 1);
--brand--teal--dark: rgba(10, 143, 152, 1);
--brand--teal--darkest: rgba(20, 61, 60, 1);
--brand--bright--yellow: rgba(239, 227, 114, 1);
--brand--bright--yellow-dark: rgba(213, 203, 103, 1);
--brand--bright--orange: rgba(255, 155, 83, 1);
--brand--bright--orange-dark: rgba(218, 132, 71, 1);
--brand--bright--coral: rgba(250, 99, 93, 1);
--brand--bright--red: rgba(158, 12, 12, 1);
--brand--opacity--100: rgba(0, 0, 0, 1);
--brand--opacity--90: rgba(0, 0, 0, 0.8999999761581421);
--brand--opacity--80: rgba(0, 0, 0, 0.800000011920929);
--brand--opacity--70: rgba(0, 0, 0, 0.699999988079071);
--brand--opacity--60: rgba(0, 0, 0, 0.6000000238418579);
--brand--opacity--50: rgba(0, 0, 0, 0.5);
--brand--opacity--40: rgba(0, 0, 0, 0.4000000059604645);
--brand--opacity--30: rgba(0, 0, 0, 0.30000001192092896);
--brand--opacity--20: rgba(0, 0, 0, 0.20000000298023224);
--brand--opacity--10: rgba(0, 0, 0, 0.10000000149011612);
--brand--opacity--0: rgba(0, 0, 0, 0);
--brand--grey--white: rgba(255, 255, 255, 1);
--brand--grey--lightest: rgba(247, 247, 247, 1);
--brand--grey--light: rgba(235, 235, 235, 1);
--brand--grey--grey: rgba(221, 221, 221, 1);
--brand--grey--default: rgba(176, 176, 176, 1);
--brand--grey--dark: rgba(113, 113, 113, 1);
--brand--grey--darkest: rgba(34, 34, 34, 1);
--brand--grey--black: rgba(0, 0, 0, 1);
--brand--grey--background: rgba(53, 59, 70, 1);
--colors---black: rgba(0, 0, 0, 1);

/* Text-size styles */
--primary--heavy--h1: 72px;
--primary--heavy--h2: 64px;
--primary--heavy--h3: 52px;
--primary--heavy--h4: 44px;
--primary--heavy--h5: 36px;
--primary--heavy--h6: 32px;
--primary--heavy--subtitle2: 20px;
--primary--heavy--subtitle1: 24px;
--primary--medium--h1: 72px;
--primary--medium--h2: 64px;
--primary--medium--h3: 52px;
--primary--medium--h4: 44px;
--primary--medium--h5: 36px;
--primary--medium--h6: 32px;
--primary--medium--subtitle1: 24px;
--primary--medium--subtitle2: 20px;
--primary--regular--h1: 72px;
--primary--regular--h2: 64px;
--primary--regular--h3: 52px;
--primary--regular--h4: 44px;
--primary--regular--h5: 36px;
--primary--regular--h6: 32px;
--primary--regular--subtitle1: 24px;
--primary--regular--subtitle2: 20px;
--secondary--heavy--h1: 72px;
--secondary--heavy--h2: 64px;
--secondary--heavy--h3: 52px;
--secondary--heavy--h4: 44px;
--secondary--heavy--h5: 36px;
--secondary--heavy--h6: 32px;
--secondary--heavy--subtitle1: 24px;
--secondary--heavy--subtitle2: 20px;
--secondary--heavy--overline: 18px;
--secondary--heavy--body1: 16px;
--secondary--heavy--body2: 14px;
--secondary--heavy--caption: 12px;
--secondary--medium--h1: 72px;
--secondary--medium--h2: 64px;
--secondary--medium--h3: 52px;
--secondary--medium--h4: 44px;
--secondary--medium--h5: 36px;
--secondary--medium--h6: 32px;
--secondary--medium--subtitle1: 24px;
--secondary--medium--subtitle2: 20px;
--secondary--medium--overline: 18px;
--secondary--medium--body1: 16px;
--secondary--medium--body2: 14px;
--secondary--medium--caption: 12px;
--secondary--regular--h1: 72px;
--secondary--regular--h2: 64px;
--secondary--regular--h3: 52px;
--secondary--regular--h4: 44px;
--secondary--regular--h5: 36px;
--secondary--regular--h6: 32px;
--secondary--regular--subtitle1: 24px;
--secondary--regular--subtitle2: 20px;
--secondary--regular--overline: 18px;
--secondary--regular--body1: 16px;
--secondary--regular--body2: 14px;
--secondary--regular--caption: 12px;
--button--large: 18px;
--button--large-underlined: 18px;
--button--medium: 16px;
--button--medium-underlined: 16px;
--button--small: 14px;
--button--small-underlined: 14px;

/* Effect styles */
--light--shadow--level-1: 0px 1px 2px rgba(0, 0, 0, 0.1);
--light--shadow--level-2: 0px 0px 2px rgba(0, 0, 0, 0.1),
  0px 2px 4px rgba(0, 0, 0, 0.1);
--light--shadow--level-3: 0px 0px 2px rgba(0, 0, 0, 0.1),
  0px 4px 8px rgba(0, 0, 0, 0.1);
--dark--shadow--level-1: inset 0px 0px 1px rgba(255, 255, 255, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.25);
--dark--shadow--level-2: inset 0px 0px 1px rgba(255, 255, 255, 0.1),
  0px 0px 2px rgba(0, 0, 0, 0.6), 0px 2px 4px rgba(0, 0, 0, 0.5);
--dark--shadow--level-3: inset 0px 0px 1px rgba(255, 255, 255, 0.1),
  0px 0px 2px rgba(0, 0, 0, 0.6), 0px 4px 8px rgba(0, 0, 0, 0.5);
